//variables

$font-stack: "Poppins", "Courier", "sans"

$font-color: #1c1c24
$background-color: #d2dbe3
$primary-color: #f2f4f7
$secondary-color: #556
$accent-color: #878
$shadow-color: #556
$error-color: #810

//basic looks  
body 
  background-color: $background-color
  font-family: $font-stack
  font-weight: normal

body > * 
  background-color: $primary-color
  border-style: none
  color: $font-color
  box-shadow: 3px 3px 1px $shadow-color

h1 
  text-align: center
  font-weight: bold

#input, .result 
  margin-top: 10px
  margin-bottom: 20px

  font-size: 1.4rem


div 
  padding: 10px


input, select 
  font-size: 1.2rem
  width: 30%
  padding: 5px
  margin: 5px
  border-radius: 3px
  border-style: solid
  border-color: $secondary-color
  border-width: 2px

#act_inp, #formula_select
    width: 80%

button 
  background-color: $font-color
  border: none
  color: $primary-color
  text-align: center
  font-weight: bold
  font-size: 1.4rem
  width: 150px
  padding: 4px 17px
  font-family: $font-stack
  display: block
  margin: 0 auto

.result 
  text-align: center
  font-weight: bold

#error, #warning 
  background-color: fade-out($error-color, 0.5)
  border: none
  color: $font-color
  text-align: center
  font-weight: bold
  font-size: 1.3rem
  padding: 10px
  font-family: $font-stack

//hover, cursors etc.

button:hover 
  background-color: $accent-color
  cursor: pointer
 
#age:hover, #mass:hover, #height:hover 
  cursor: text

label:hover 
  cursor: pointer

input:hover, select:hover 
  border-color: $accent-color

input:invalid, select:invalid 
  border-color: $error-color

//sizing and composition

body > * 

h1 

